@using ReactMVC45.Models
@model LoginViewModel
 
 
<div class="row">
	<div class="col-md-8">
		<div id="LoginContent"></div>
	</div>
	 
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")	 
	<script src="@Url.Content("~/Scripts/App/Login/login.jsx")"></script>
}